fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-google-genai
faiss-cpu
pypdf
python-dotenv
pydantic
boto3
passlib
bcrypt
pyjwt
docx2txt
python-docx
python-pptx
openpyxl
pillow
 